<main>
    <div class="side-by-side">
        <h1>About</h1>
        <partial name="_Partial"/>
    </div>
    <div class="text wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, in incidunt? Accusantium adipisci aperiam aspernatur magnam magni nemo nesciunt quam. Eius magnam odit quidem voluptatum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt eaque explicabo fuga fugiat inventore ipsam neque odio quam sit. Doloribus error quasi quidem vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque consequuntur earum enim iure rem repudiandae ullam? Aperiam beatae culpa doloremque, exercitationem fugit laboriosam necessitatibus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos magnam minima possimus quisquam, sit voluptas!</p>
    </div>
</main>