<main class="wrapper">
    <div class="side-by-side">
        <h1>Home</h1>
        <partial name="_Partial"/>
    </div>
    
    <div class="text wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam consequuntur delectus deserunt dolores est et inventore, itaque mollitia quaerat quidem suscipit totam ullam voluptatem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem illum quaerat qui reiciendis rerum sit ut. A accusamus ad asperiores minima mollitia natus veniam voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae illo maiores porro totam ullam. Adipisci assumenda exercitationem explicabo inventore maxime porro quae sapiente tempore temporibus!</p>
    </div>
</main>