<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/aspdotnet/moment2/">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>@ViewData["title"]</title>
</head>
<body>
<div>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Root" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
                <li>
                    <a asp-controller="Root" asp-action="About">About</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
@RenderBody()
</body>
</html>